*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: '微軟正黑體';
    overflow-x: hidden;
    background-color: var(--body--bg);
    color: var(--body--color);
    transition: all .3s linear;
}
:root{
    --bg--color:#79BA78;
    --bg--color2:#E9B824;
    --body--bg:#fff;
    --body--color:#000;
    --fs--title:80px;
    --fs--1:70px;
    --fs--2:60px;
    --fs--3:50px;
    --fs--4:40px;
    --fs--5:30px;
    --fs--6:23px;
    --fs--7:20px;
    --fs--8:17px;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
input{
    outline: none;
}
.color1{
    color: var(--bg--color);
}
.color2{
    color: var(--bg--color2);
}
.df{
    display: flex;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}
.fdc{
    flex-direction: column;
}
.jcb{
    justify-content: space-between;
}
.jca{
    justify-content: space-around;
}
.f-title{
    font-size: var(--fs--title);
    transition: font-size .3s linear;
}
.f1{
    font-size: var(--fs--1);
    transition: font-size .3s linear;
}
.f2{
    font-size: var(--fs--2);
    transition: font-size .3s linear;
}
.f3{
    font-size: var(--fs--3);
    transition: font-size .3s linear;
}
.f4{
    font-size: var(--fs--4);
    transition: font-size .3s linear;
}
.f5{
    font-size: var(--fs--5);
    transition: font-size .3s linear;
}
.f6{
    font-size: var(--fs--6);
    transition: font-size .3s linear;
}
.f7{
    font-size: var(--fs--7);
    transition: font-size .3s linear;
}
.f8{
    font-size: var(--fs--8);
    transition: font-size .3s linear;
}
.lh{
    line-height: 1.8;
}
.lep{
    letter-spacing: 2px;
}
.taj{
    text-align: justify;
}
.fw{
    font-weight: bold;
}
.btn{
    --bs-btn-color:var(--bg--color2);
    --bs-btn-border-color:var(--bg--color2);
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg:var(--bg--color2);
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:var(--bg--color2);
    font-weight: bold;
}


/* nav */

nav{
    background-color: var(--bg--color);
}
.nav-icon{
    width: 20px;
    height: 20px;
    object-fit: contain;
    cursor: pointer;
    transition: all .3s linear;
}
.nav-icon:hover{
    transform: rotate(25deg);
}
.nav-shop-amount::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--bg--color2);
    border-radius: 50%;
    position: absolute;
    right: 20%;
    top: 20%;
    opacity: 0;
}
.nav-shop-amount.active.nav-shop-amount::after{
    opacity: 1;
}
.nav-item{
    position: relative;
}
.nav-item::after{
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--bg--color2);
    position: absolute;
    right: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right bottom;
    transition: transform .3s linear;
}
.nav-item::before{
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--bg--color2);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left bottom;
    transition: transform .3s linear;
}
.nav-item:hover.nav-item::after,.nav-item:hover.nav-item::before{
    transform-origin: center;
    transform: scaleX(1);
}

/* head */

header{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}
.abc{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.head-bg{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.head-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.head-title{
    font-size: 4vw;
}
a-scene{
    width: 100%;
    min-height: 600px;
    z-index: 2;
}
main{
    position: relative;
    background-color: var(--body--bg);
    transition: all .3s linear;
}

/* body1 */
#body1{
    background: url(./image/body1/bg.png) no-repeat center center/cover fixed;
}
.body1-card{
    height: 100%;
    overflow: hidden;
}
.body1-card-title{
    width: 80%;
    padding: 10px;
    background-color: var(--bg--color);
    border-radius: 5px;
    color: #fff;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 999;
}
.body1-card-img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: all .3s linear;
}
.body1-card:hover .body1-card-img{
    transform: scale(1.1);
}
.body1-card:hover .body1-card-title{
    box-shadow:0 0 15px #fff ;
}

/* body2 */

.body2-btn,.body2-btn2{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--bg--color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.65;
    transition: all .3s linear;
}
.body2-btn2{
    margin-top: 100px;
    background-color: var(--bg--color2);
}
.body2-btn.active,.body2-btn2.active{
    opacity: 1;
}
.body2-card{
    overflow: hidden;
    height: 100%;
}
.body2-card-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: all .3s linear;
}
.body2-card:hover .body2-card-img{
    transform: scale(1.1);
}

/* body3 */
#body3{
    background: url(./image/body3/bg.png) no-repeat center center /cover fixed;
}
.body3-card{
    border: none;
}
.body3-card-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px 0 0 5px;
}
.body3-submit{
    padding: 10px;
    background-color: var(--bg--color2);
    color: #fff;
}
.swiper-slide-active .body3-submit{
    background-color: var(--bg--color);
    transition: all .3s linear;
}
.body3-right{
    background-color: var(--bg--color);
    border-radius: 0 5px 5px 0;
    transition: all .3s linear;
}
.swiper-slide-active .body3-right{
    background-color: var(--bg--color2);
}
.body3-next,.body3-prev{
    color: var(--bg--color2);
}
.body3-hover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .5s linear;
}
.swiper-slide-active .body3-hover:hover{
    opacity: 1;
}
.body3-img-btn{
    width: 50px;
    height: 50px;
    background-color: var(--bg--color2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin:0 30px ;
}
.swe{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* body4 */
#body4{
    background: url(./image/body4-bg.png) no-repeat center center/cover;
}
#body4-chart{
    max-width: 600px;
    max-height: 600px;
}


/* body5 */
#body5{
    background: url(./image/body5-bg.png) center center /cover fixed;
}
.title5::after,.title5::before{
    content: '';
    width: 70px;
    height: 5px;
    background-color: var(--bg--color2);
}
.body5-left,.body5-right{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.89);
    height: 100%;
}
.body5-swiper .swiper-slide{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.85);
    transition: all .5s linear;
}
.body5-swiper .swiper-slide-active{
    transform: scale(1);
}
.forum{
    width: 500px;
}
.forum-name{
    padding-left: 5px;
    border-left: 5px solid var(--bg--color);
}
.forum-content{
    height: 300px;
    border: 2px solid var(--bg--color2);
    border-radius: 5px;
}

.mess-name,.mess-email,.mess-text{
    border: 2px solid var(--bg--color2);
}


/* footer */
footer{
    background-color: var(--bg--color);
    position: relative;
    padding: 10px 0;
}
.footer-img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 0 10px;
    cursor: pointer;
    transition: all .3s linear;
}
.footer-img:hover{
    transform: scale(1.1);
}
/*  */

.lightbox{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1080;
}
.lightbox-img{
    max-width: 1200px;
    max-height: 1200px;
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
}
.lightbox-x{
    position: fixed;
    top: 1%;
    right: 1%;
    font-size: var(--fs--5);
}

/*  */

.top-btn,.robot-btn,.fs-btn{
    width: 60px;
    height: 60px;
    background-color: var(--bg--color2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 50px;
    cursor: pointer;
    z-index: 999;
}

.top-btn img ,.robot-btn img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.robot-btn{
    bottom: 130px;
}
.fs-btn{
    bottom: 210px;
}
.robot-box{
    width: 300px;
    height: 400px;
    border-radius: 5px;
    border: 2px solid var(--bg--color);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 90px;
    bottom: 170px;
    transform: scale(0);
    transform-origin: right bottom;
    transition: all .3s linear;
    z-index: 999;
}
.robot-box.active{
    transform: scale(1);
}
.robot-header{
    padding: 10px;
    background-color: var(--bg--color);
}
.robot-body{
    padding: 20px;
    overflow-y: auto;
    flex: 1;
}
.mess,.mess2{
    display: block;
    background-color: var(--bg--color);
    padding: 5px;
    border-radius: 0 5px 5px 5px;
    color: #fff;
    word-break: break-all;
}
.mess2{
    background-color: var(--bg--color2);
    border-radius: 5px 0 5px 5px;
}
.robot-footer{
    padding: 10px;
    border-top: 2px solid var(--bg--color);
}
.robot-input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--bg--color);
}

/*  */

.shop-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.shop-btn{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-input{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--bg--color2);
    padding: 5px;
}